
/*  RECIPE CARDS  */

.recipe_cards {
  display: flex;
  justify-content: space-betwecen;
  align-items: center;
}


.card {
  /* background-image: url(./images/Home.png);
  background-position:center;
  background-size: cover;
  background-attachment: fixed; */
  border-top-left-radius: 55px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 55px;
  border-bottom-left-radius: 10px;
  border: 3px #1c451f solid;
  width: 35%;
  height: 80%;
  margin: 2% 10px 2% 5%;
  text-align: center;
  box-shadow: rgba(161, 121, 84, 0.35) 0px 5px 15px;
  transition: transform 0.4s ease;
}

.card:hover {
  background-color: #dceddfb8;
}

.c_img {
  margin-top: 35px;
  margin-bottom: 25px;
  width: 200px;
  height: 200px;
  transition: transform 0.4s ease;
}

.c_img:hover{
  transform: scale(1.2);
}

.last {
  margin-top: 100px;
  text-align: center;
}

.rec_tit {
  font-size: 20px;
  font-weight: bold;
  /* font-family: 'Courier New', Courier, monospace; */
  color: #cf5e31;
}

.card p{
  margin-bottom:20px;
}

#btn {
  background-color: #e5f0e8d3;
 /*box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;*/
  position: relative;
  cursor: pointer;
  border: none;
  height: 50px;
  width: 25%;
  margin-bottom: 10%;
  border-top-left-radius: 35px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 10px;
  color: #0B4325;
  font-family: 'League Spartan', sans-serif;
  font-weight: bolder;
}

#btn a{
  color: #296243;
}


#btn:hover {
  background-color: #ffa981;
  box-shadow: rgba(167, 73, 5, 0.4) 0px 5px, rgba(160, 76, 16, 0.4) 0px 10px, rgba(163, 97, 50, 0.4) 0px 15px, rgba(182, 116, 70, 0.4) 0px 20px, rgba(194, 131, 86, 0.4) 0px 25px;
}

#fav {
  background-color: #e5f0e8d3;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  position: relative;
  cursor: pointer;
  border: none;
  height: 50px;
  width: 25%;
  margin-bottom: 5%;
  border-top-left-radius: 35px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 10px;
  color: #0B4325;
  font-family: 'League Spartan', sans-serif;
  font-weight: bolder;
}

#fav a{
  color: #296243;
}


#fav:hover {
  box-shadow: rgba(167, 73, 5, 0.4) 0px 5px, rgba(160, 76, 16, 0.4) 0px 10px, rgba(163, 97, 50, 0.4) 0px 15px, rgba(182, 116, 70, 0.4) 0px 20px, rgba(194, 131, 86, 0.4) 0px 25px;
  background-color: #feddd0;
}


/* LIST */

#list{
  height: 20vh;
}

.list{
  position: absolute;
  left: 90%;
  margin-top: 100px;
}

.number{
  margin-right: 20px;
  font-family: 'League Spartan', sans-serif;
  color: #cc4c1d;
}

.number a{
  text-decoration: none;
  color: #cc4c1d;
  font-size: 20px;
}
