* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
width: 100%;
height: 80px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 10px;
background: #acb4b5;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(https://t3.ftcdn.net/jpg/02/05/56/54/360_F_205565499_waqtbwXp6KukIa7ilco7GfIErIjIK117.jpg);
    background-position: center;
    background-size: cover;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: #213032;
    margin-right: 40px;
}
.nav-bar ul{
    display: flex;
    list-style: none;
}
.nav-bar ul li a{
    display: block;
    color: #edffef;
    font-size: 20px;
    padding: 8px 25px;
    transition: .2s;
    margin: 0 5px;
    text-decoration: none;
}
.nav-bar ul li:hover a{
    background-color: #97a2a3;
    color: #213032;
    cursor: pointer;
}
.content{
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: #ffffff;
    font-size: 75px;
    margin: 20px 0px 20px;
}
h3{
    color: #edffef;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #edffef;
    letter-spacing: 2px;
    font-size: 20px;
}
.button{
position: absolute;
background-color: #213032;
color: #fff;
text-decoration: none;
border: 2px solid black;
font-weight: bold;
padding: 13px 30px;
transform: .4s;
}
.button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #314e52;
}
.about img{
    height: 350px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about h2{
    color:#edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.about-text p{
    color: #97a2a3;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
   text-align: justify;
}
.about-text{
    width: 500px;
}
/*Recipe Section CSS*/
.recipe{
    width: 100%;
    padding: 100px 0px;
    background-color: #213032;
}
.recipe h2{
    color: #edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
}
.box .card img{
    width: 100%;
    height: 1005;
    object-fit: cover;
   
}
.box .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.box .card:hover .content{
    opacity: 1;
}
.card h3{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #213032;
}
.box .card p{
    font-size: 14px;
    margin-bottom: 10px;
}
.box .card button{
    position:relative;
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform:.4s;
    padding: 13px 30px;
 }
 .box .card button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
 }
 /*Categories*/
 .categories{
    width: 100%;
    padding: 100px 0px;
    background-color: #314e52;
 }
 .categories h2{
    color:#edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
 }
 .ca-card{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 5px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
 }
 .box .ca-card .content{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
 }
 .box .ca-card:hover .content{
    opacity: 1;
 }
 .ca-card h3{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #213032;
 }
.box .ca-card p{
    font-size: 14px;
    margin-bottom: 10px;
}
.box .ca-card button{
    position:relative;
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform:.4s;
    padding: 13px 30px;
}
.box .ca-card button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}
.box .ca-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Contact form*/
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background: #182f32;
}
.contact-info,.contact-form{
    width: 100%;
    max-width: 400px;
    margin: 20px;
    text-align: center;
    color: #edffef;
    font-size: 25px;
}
.contact-info h2, .contact-form h2{
    font-size: 24px;
    margin-bottom: 20px;
    color: #edffef;
}
.contact-form form{
    text-align: center;
}
.contact-form label, 
.contact-form input , 
.contact-form textarea ,
 .contact-form button {
display: block;
width: 100%;
margin-bottom: 10px;
}
.contact-form button{
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform:.4s;
    padding: 10px 0px;
}
.contact-form button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}
.contact-form label{
    text-align: left;
    color: #edffef;
}
.contact-form input, .contact-form textarea{
    padding: 8px;
}
.contact-info p{
padding: 15px;
}
.social-icons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.social-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    color: #97a2a3;
    text-align: center;
    line-height: 40px;
    font-size: 38px;
}
.social-icon:hover{
    color: #314e52;
    cursor: pointer;
}
footer{
    padding: 20px 0;
    background: #182f32;
}
footer h5{
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    color: #97a2a3;
}
/* Dropdown Button */
.dropbtn {
    background-color: #acb4b5;
    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #acb4b5;
  }
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 18px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    width: 210px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: green}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}